.large-img-slider {
  padding-top: 120px;
}

.largeSwiper {
  .slider-img-wrapper {
    margin-bottom: 24px;
    .slider-img {
      border-radius: 20px;
    }
  }
}
.largeSwiperThumb {
  .slider-thumb-img {
    .thumb-img {
      border-radius: 20px;
    }
  }
}
