// Colors
$rt-white: #ffffff;
$rt-blue-100: #f8fbff;
$rt-blue-200: #f8f8ff;
$rt-blue-300: #f6f9ff;
$rt-blue-500: #384bff;
$rt-blue-600: #2135f3;
$rt-black-400: #232323;
$rt-black-500: #151515;
$rt-gray-200: #c0c0c0;
$rt-gray-300: #8d8c8c;
$rt-gray-400: #d2d2d2;
$rt-gray-500: #999999;

$rt-pink-100: #fff8f8;

// Font Weight
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;

// Font Family
$rt-noto-sans: "Inter", sans-serif;
$rt-cursive-font: "Dancing Script", cursive;

//Social
$facebook-100: #edf4ff;
$facebook-500: #1877f2;
$twitter-100: #ecf8ff;
$twitter-500: #1da1f2;
$linkedin-100: #e6f1f8;
$linkedin-500: #0077b5;
$instagram-100: #ffeff4;
$instagram-500: #e1306c;
$pinterest-100: #f6e7e9;
$pinterest-500: #e60023;
$whatsapp-100: #e9fbf0;
$whatsapp-500: #25d366;
$youtube-100: #ffcccc;
$youtube-500: #ff0000;
