.nav-container {
  padding: 0 100px;
  @include large-screen {
    padding: 0 16px;
  }
}
.navbar {
  padding: 0;
  @include large-screen {
    padding: 16px 0;
  }
}

.navbar .navbar-nav {
  .nav-item {
    &:hover {
      .nav-link {
        color: $rt-blue-500;
      }
    }
  }
}

/*----- For Desktop -------*/
@media screen and (min-width: 1199.5px) {
  .header-primary {
    &.navbar-transparent {
      &.affix {
        position: fixed;
        left: 0;
        top: 0;
        background-color: $rt-white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        width: 100%;
        z-index: 1000;
        transition: 0.3s ease-in;
        -webkit-animation: upsdown 1000ms;
        animation: upsdown 1000ms;
        .navbar .site-logo {
          .logo-color {
            display: block;
          }
          .logo-white {
            display: none;
          }
        }
        .navbar .navbar-nav .nav-link {
          color: $rt-black-400;
        }
        .navbar .dropdown-toggle::after {
          color: $rt-black-400;
        }
        .navbar-right {
          .navbar-btn-links {
            color: $rt-black-400;
          }
          .currency-list {
            color: $rt-black-400;
          }
        }
        .navbar-toggler {
          span {
            background-color: $rt-blue-500;
          }
          &::after,
          &::before {
            background-color: $rt-blue-500;
          }
        }
      }

      &.navbar-black {
        .navbar {
          .navbar-nav {
            .nav-link {
              color: $rt-black-400;
              &::after {
                color: $rt-black-400;
              }
            }
          }
        }

        //Navbar Right
        .navbar-right {
          .navbar-btn-links {
            color: $rt-black-400;
          }
          .currency-list {
            font-size: 14px;
            color: $rt-black-400;
          }
        }
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10000;
      background-color: transparent;
      .navbar {
        .navbar-nav {
          .nav-link {
            color: $rt-white;
            &::after {
              display: none;
            }
          }
        }
      }
      .nav-item:hover .nav-link {
        &::after {
          transform: rotate(-180deg);
          color: $rt-white;
        }
      }
      .navbar-toggler {
        width: 38px;
        height: 38px;
        padding: 0;
        box-shadow: none;
        position: relative;
        right: 0;
        z-index: 99;
        border: none;
        span {
          position: absolute;
          left: 9px;
          overflow: hidden;
          width: 26px;
          height: 2px;
          margin-top: -1px;
          text-indent: 200%;
          -webkit-transition: opacity 0.25s;
          transition: opacity 0.25s;
          background-color: $rt-white;
        }
        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 9px;
          width: 26px;
          height: 2px;
          pointer-events: none;
          transition: transform 0.25s;
          transform-origin: 50% 50%;
          background-color: $rt-white;
        }
      }

      //Navbar Right
      .navbar-right {
        .navbar-btn-links {
          color: $rt-white;
        }
        .currency-list {
          font-size: 14px;
          color: $rt-white;
        }
      }
    }
    .navbar .navbar-nav .nav-link {
      font-size: 16px;
      letter-spacing: -0.2px;
      line-height: initial;
      color: $rt-black-400;
      font-weight: $font-medium;
      padding: 35px 0;
      margin: 0 26px;
      position: relative;
    }
  }

  .navbar .dropdown-menu {
    &.two-column {
      min-width: 350px;
      border-radius: 0 0 10px 10px;
      padding: 25px 20px 20px 25px;
      box-shadow: none;
      background-color: #000000;
      .shape {
        position: absolute;
        top: -15px;
        left: 50px;
        svg {
          color: #232323;
        }
      }
      .dropdown-item {
        font-size: 14px;
        position: relative;
        &:hover {
          color: #fff;
        }
        .flip-item {
         
          &::after {
           
            background-color: $rt-white;
          }
          &:hover {
            &::after {
              width: 100%;
              transition: width 0.3s ease;
              left: 0;
            }
            span {
              &::after {
                color: $rt-white;
              }
            }
          }
          span {
           
            &::before, &::after {
              
              color: #ababab;
            }
            &::after {
              
              color: $rt-white;
            }
          }
        }
      }
    }
    z-index: 20;
    background-color: $rt-white;
    display: block;
    right: 0;
    left: 0;
    padding: 10px;
    border: none;
    top: 100%;
    visibility: hidden;
    transform: scale(1, 0);
    opacity: 0;
    min-width: 200px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.12);
    margin: 0;
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out;
  }
  .navbar .dropdown-menu .dropdown-menu {
    left: calc(100% + 10px);
    top: 0;
    right: auto;
    min-width: 240px;
    box-shadow: 0 20px 30px -10px rgb(0, 0, 0, 0.15);
    transform: scale(0, 1);
  }
  .navbar .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  .navbar .navbar-nav {
    .nav-item {
      &.dropdown {
        &:hover {
          .nav-link {
            &.dropdown-toggle {
              transition: all 0.4s ease-in-out;
              &::after {
                transform: rotate(180deg);
                color: $rt-blue-500;
              }
            }
          }
        }
      }
    }
  }
}

.navbar .navbar-nav .nav-link {
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: initial;
  color: #02274a;
  padding: 15px 0;
  margin: 0 26px;
  position: relative;
  &.flame {
    &::before {
      color: #fb2b69;
      content: "\f7e4";
      position: absolute;
      right: -5px;
      top: 30%;
      font-size: 12px;
      font-weight: 900;
      font-family: "Font Awesome 6 Free";
      animation: updown 2s ease infinite;
    }

    @keyframes updown {
      0% {
        transform: translateY(-40%);
      }

      50% {
        transform: translateY(40%);
      }

      100% {
        transform: translateY(-40%);
      }
    }
  }
}


.navbar {
  .dropdown-menu {
    .dropdown-item {
      font-size: 14px;
      padding: 0 15px;
      letter-spacing: 0px;
      text-transform: capitalize;
      line-height: 30px;
      color: #161619;
      background-color: transparent;
      display: inline-block;
      position: relative;
      transition: all 0.3s ease-in-out;
      white-space: inherit;
      font-weight: 500;
      .flip-item {
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-weight: $font-medium;
        &::after {
          content: "";
          height: 1px;
          width: 0;
          background-color: $rt-blue-500;
          position: absolute;
          bottom: 0px;
          left: 100%;
          transition: all .3s ease-in-out;
        }
        &:hover {
          &::after {
            width: 100%;
            transition: width 0.3s ease;
            left: 0;
          }
          span {
            transform: translateY(-105%);
            &::before {
              transform: skewY(7deg);
              color: #161619;
            }
            &::after {
              color: $rt-blue-500;
              transform: skewY(0);
            }
          }
        }
        span {
          display: inline-block;
          position: relative;
          z-index: 1;
          color: transparent;
          transition: transform 1.2s cubic-bezier(.19,1,.22,1);
          &::before, &::after {
            top: 0;
            transform: skewY(0);
            transform-origin: right bottom;
            transition: transform 2s cubic-bezier(.19,1,.22,1);
            content: attr(data-text);
            display: block;
            position: absolute;
            color: #161619;
          }
          &::after {
            top: 105%;
            transform: skewY(7deg);
            transform-origin: left top;
            transition: transform 2s cubic-bezier(.19,1,.22,1);
            color: $rt-blue-500;
          }
        }
      }
    }
  }
}

.navbar .dropdown-menu .dropdown-item .tag {
  position: absolute;
  background-color: var(--red-one);
  line-height: 15px;
  color: $rt-blue-500;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 0 4px;
  text-transform: uppercase;
  top: 0;
  right: 0;
  font-style: normal;
 
}
.navbar .dropdown-menu .dropdown:hover > .dropdown-item,
.navbar .dropdown-menu .dropdown-item.active,
.navbar .dropdown-menu .dropdown-item:hover {
  color: $rt-blue-500;
  &::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 50%;
    transition-timing-function: ease;
  }
  
}

.navbar .dropdown-toggle::after {
  content: "\f0d7";
  font-family: "Font Awesome 6 Free";
  border: none !important;
  font-size: 12px;
  font-weight: 900;
  position: absolute;
  line-height: 28px;
  color: $rt-black-400;
  top: calc(50% - 14px);
  text-align: center;
  transition: all 0.3s ease;
}

.navbar .dropdown-submenu .dropdown-toggle::after {
  content: "\f0da";
  font-family: "Font Awesome 6 Free";
  display: block;
  font-weight: 900;
  right: 15px;
  top: 0;
  background-color: transparent !important;
  color: inherit;
  width: auto;
  height: auto;
  line-height: 40px;
  font-size: 13px;
  transition: transform 0.3s ease-in-out;
}
.navbar .dropdown-submenu:hover > .dropdown-toggle::after {
  transform: rotate(90deg);
}

// Navbar Right
.navbar-right {
  gap: 18px;
  @include portrait-phone {
    gap: 10px;
  }
  .navbar-right-features {
    gap: 18px;
  }
  .navbar-btn-links {
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: $font-semibold;
    color: #232323;
    @include portrait-phone {
      display: none;
    }
  }
  .currency-list {
    font-size: 14px;
    font-weight: $font-bold;
  }
  .header-button {
    @include portrait-phone {
      display: none;
    }
  }
}



/*=======================
  // template-search
========================*/
.template-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 480px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
  transition: all 0.7s ease-in-out;
}
.template-search .menu {
  margin-top: 140px;
  ul {
      display: flex;
      align-items: center;
      gap: 40px;
      justify-content: center;
      li {
          a {
              font-family: $rt-noto-sans;
              font-weight: 500;
              font-size: 16px;
              line-height: 35px;
              text-align: center;
              color: $rt-black-400;
              transition: all .3s ease-in-out;
              &:hover {
                color: $rt-blue-500;
              }
          }
      }
  }
}
.template-search .search-form {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.template-search .search-form input[type="search"] {
  width: 60%;
  color: #a1a1a1;
  font-size: 15px;
  text-align: left;
  border: none;
  margin: 0 auto;
  padding: 10px 0;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #d9d9d9;
  &:focus {
      border-color: $rt-black-400;
  }
}
.template-search .search-form .search-btn {
  margin-right: 20px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  background-color: transparent;
  transition: all 0.3s ease-out;
  i {
      position: relative;
      right: 20px;
  }
}
.template-search .search-form .search-btn:focus {
  box-shadow: none;
  outline: none;
}
.template-search .search-form input::-webkit-input-placeholder {
  color: #a1a1a1;
}
.template-search .search-form input::-moz-placeholder {
  color: $rt-blue-500;
}
.template-search .search-form input:-moz-placeholder {
  color: $rt-blue-500;
}
.template-search .search-form input:-ms-input-placeholder {
  color: $rt-blue-500;
}
.template-search .close {
  position: fixed;
  top: 50px;
  right: 100px;
  color: $rt-black-400;
  border: none;
  visibility: visible;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #dedede;
  padding: 0px 20px;
}
.template-search .close:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
.template-search .close:hover {
  opacity: 1;
}
.template-search.open {
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  visibility: visible;
}

/*(min-width: 992px)*/

/*----- For Mobile ----*/
@media screen and (max-width: 1199px) {
  .header-primary {
    &.navbar-transparent {
      &.navbar-black {
        //Toggler
        .navbar-toggler {
          span {
            background-color: $rt-black-400;
          }
          &::after,
          &::before {
            background-color: $rt-black-400;
          }
        }
        //Navbar Right
        .navbar-right {
          .navbar-btn-links {
            color: $rt-black-400;
          }
          .currency-list {
            font-size: 14px;
            color: $rt-black-400;
          }
        }
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10000;
      background-color: transparent;

      .nav-item:hover .nav-link {
        &::after {
          transform: rotate(-180deg);
        }
      }
      .navbar-toggler {
        span {
          background-color: $rt-white;
        }
        &::after,
        &::before {
          background-color: $rt-white;
        }
      }
      //Navbar Right
      .navbar-right {
        .navbar-btn-links {
          color: $rt-white;
        }
        .currency-list {
          font-size: 14px;
          color: $rt-white;
        }
      }
    }
  }

  .navbar-collapse .logo {
    margin-bottom: 3vh;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    background-color: $rt-white;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    clear: both;
    width: 320px;
    max-width: calc(100vw - 60px);
    z-index: 9999;
    transform: translateX(-100%);
    display: block !important;
    padding: 32px 15px 20px;
    transition: all 0.3s ease-in-out;
  }
  .navbar-collapse.show {
    transform: translateX(0);
    box-shadow: 15px 0 25px rgba(35, 35, 35, 0.1);
  }

  .navbar .navbar-nav .nav-link {
    margin: 0;
    padding: 13px 0;
    border-bottom: 1px solid #f3f3f3;
  }

  .navbar .dropdown-menu .dropdown-item {
    padding: 0 10px;
    font-size: 16px;
  }
  .navbar .dropdown-menu {
    border: none;
    border-bottom: 1px solid #f3f3f3;
    padding: 0;
    border-radius: 0;
    margin: 0;
  }
  .navbar .dropdown-submenu .dropdown-menu {
    margin: 0;
    padding: 0 0 0 15px;
  }
  .theme-menu-four .navbar .navbar-nav .nav-link:before {
    display: none;
  }

  .navbar .show.dropdown-toggle::after {
    transform: rotate(180deg);
    color: $rt-blue-500;
  }
}
/*(max-width: 991px)*/

  
/*=====================================
  // rt mobile menu
======================================*/
.offscreen-navigation .menu {
  font-family: var(--font-title);
}
.offscreen-navigation .menu > li {
  border-bottom: 1px solid #e9e9e9;
}
.offscreen-navigation .menu > li:last-child {
  border-bottom: 0;
}
.offscreen-navigation .menu > li > a {
  background-color: #f3f3f3;
  font-size: 16px;
  padding: 12px 30px;
 
  transition: all 0.3s ease-in-out;
}
.offcanvas-content-style-2 .offscreen-navigation .menu > li > a {
  background-color: transparent;
  padding: 12px 0;
}
.offscreen-navigation .menu > li > a:hover {
  background-color: #f8f8f8;
}
.offscreen-navigation .menu > li > a.opened {
  background-color: #f8f8f8;
}
.offscreen-navigation .sub-menu {
  display: none;
  background-color: #ffffff;
}
.offscreen-navigation .sub-menu li.menu-item-has-children > a::after,
.offscreen-navigation .sub-menu li.menu-item-has-children > a::before {
  right: 40px;
}
.offscreen-navigation .sub-menu li a {
  border-top: 1px solid #f1f1f1;
  padding: 7px 40px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}
.offcanvas-content-style-2 .offscreen-navigation .sub-menu li a {
  padding-left: 30px;
}
.offscreen-navigation .sub-menu li a:hover {
  background-color: rgba(15, 91, 245, 0.05);
}
.offscreen-navigation .sub-menu li .sub-menu li a {
  padding: 7px 50px;
}
.offscreen-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.offscreen-navigation ul li > a {
  display: block;
  position: relative;
  color: #000000;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.offscreen-navigation ul li > a:hover {
  color: var(--color-primary);
}
.offscreen-navigation ul li.menu-item-has-children > a:after {
  color: #999999;
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  right: 20px;
  position: absolute;
  font-size: 12px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
.offscreen-navigation ul li.menu-item-has-children > a:before {
  color: #999999;
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  right: 20px;
  position: absolute;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.offscreen-navigation ul li.menu-item-has-children > a.opened:after {
  opacity: 0;
  visibility: hidden;
}
.offscreen-navigation ul li.menu-item-has-children > a.opened:before {
  opacity: 1;
  visibility: visible;
}

.rt-slide-nav {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  display: none;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  top: 100%;
  z-index: 99;
}

.rt-mobile-menu {
  padding: 14px 20px 0px;
  z-index: 999;
  background-color: #F0F0F0;
}
@media (min-width: 992px) {
  .rt-mobile-menu {
    display: none;
  }
}

.rt-mobile-menn-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 20px;
}

.mobile-search {
  margin-left: auto;
  margin-right: 10px;
  .mb-search {
      height: 45px;
      width: 45px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #fff;
      border: 0;
      svg {
          color: #b1b1b1;
      }
  }
}

body .sidebarBtn {
  padding: 12px 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  height: 45px;
  width: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  border: 0;
  svg {
      color: #5356FB;
  }
}

// Sticky
.navbar-transparent {
  .navbar .site-logo {
    .logo-color {
      display: none;
    }
  }
  &.affix {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $rt-white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: 100%;
    z-index: 1000;
    transition: 0.3s ease-in;
    -webkit-animation: upsdown 1000ms;
    animation: upsdown 1000ms;
    .navbar .site-logo {
      .logo-color {
        display: block;
      }
      .logo-white {
        display: none;
      }
    }
    .navbar .navbar-nav .nav-link {
      color: $rt-black-400;
    }
    .navbar .dropdown-toggle::after {
      color: $rt-black-400;
    }
    .navbar-right {
      .navbar-btn-links {
        color: $rt-black-400;
      }
      .currency-list {
        color: $rt-black-400;
      }
    }
    .navbar-toggler {
      span {
        background-color: $rt-blue-500;
      }
      &::after,
      &::before {
        background-color: $rt-blue-500;
      }
    }
  }
}
.affix {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $rt-white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  width: 100%;
  z-index: 1000;
  transition: 0.3s ease-in;
  -webkit-animation: upsdown 1000ms;
  animation: upsdown 1000ms;
}

@-webkit-keyframes upsdown {
  0% {
    transform: translateY(-100px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes upsdown {
  0% {
    transform: translateY(-100px);
    visibility: hidden;
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
